<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="post">
	<input type="text" name="name">Name</input>
	<input type="text" name="name">Position</input>
	<input type="text" name="name">Team</input>
	<button>Submit</button>
	</form>

